python-dotenv==1.2.1
fastapi==0.111.0
uvicorn==0.30.1
pypdf==6.3.0
pdf2image==1.17.0
pytesseract==0.3.13
docling==2.62.0
wordfreq==3.1.1
langdetect==1.0.9
sentence-transformers==5.1.2
huggingface-hub==0.36.0
einops==0.8.1
hf-xet==1.2.0
fastembed==0.7.3
rank-bm25==0.2.2
flashrank==0.2.10
langchain==1.0.7
langchain-classic==1.0.0
langchain-ollama==1.0.0
bitsandbytes==0.48.2
accelerate==1.11.0
langchain-community==0.4.1
langchain-openai==1.0.3
langchain-google-genai==3.1.0
langchain-experimental==0.4.0
langchain-huggingface==1.0.1
langchain-qdrant==1.1.0
langchain-text-splitters==1.0.0
numpy==2.2.6
streamlit==1.39.0
